# Visualizing government research and development spending

In [4]:
import pandas as pd
import numpy as np
import plotly.express as px


## Background information

The version of the data that we are using comes from "Tidy Tuesday" ([link](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-02-12#federal-research-and-development-spending-by-agency)), but the original data source is from the American Association for the Advancement of Science ([link](https://www.aaas.org/programs/r-d-budget-and-policy/historical-trends-federal-rd)). The version of the data we are using has already been cleaned by Tom Mock (a Tidy Tuesday facilitator), and he shares the code he used to clean the data [here](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-02-12#federal-research-and-development-spending-by-agency).

## Load in the data

First, we load in the three files.

In [11]:
fed_spending = pd.read_csv("data/fed_rd.csv")
energy_spending = pd.read_csv("data/energy_spend.csv")
climate_spending = pd.read_csv("data/climate_spend.csv")

Let's take a look at the first few rows of each dataset

In [12]:
fed_spending.head()

,department,year,rd_budget,total_outlays,discretionary_outlays,gdp
0,DOD,1976,35696000000,3.718000e+11,1.756000e+11,1790000000000
1,NASA,1976,12513000000,3.718000e+11,1.756000e+11,1790000000000
2,DOE,1976,10882000000,3.718000e+11,1.756000e+11,1790000000000
3,HHS,1976,9226000000,3.718000e+11,1.756000e+11,1790000000000
4,NIH,1976,8025000000,3.718000e+11,1.756000e+11,1790000000000

In [13]:
energy_spending.head()

                department  year  energy_spending
0    Office of Science R&D  1997     3.593300e+09
1        Adv Sci Comp Res*  1997     2.172000e+08
2   Basic Energy Sciences*  1997     9.333000e+08
3    Bio and Env Research*  1997     5.506000e+08
4  Fusion Energy Sciences*  1997     3.314000e+08

In [14]:
climate_spending.head()

        department  year  gcc_spending
0             NASA  2000  1.590942e+09
1              NSF  2000  2.562499e+08
2  Commerce (NOAA)  2000  9.181146e+07
3           Energy  2000  1.548462e+08
4      Agriculture  2000  7.673794e+07

## Prepare the data

Next, we want to prepare the data (this is essentially pre-processing the data for our visualization analysis below). To simplify the data, we make the judgment call to aggregate/summarize the spending across all departments for each year.

In [44]:
# aggregate the energy spending by year
energy_by_year = energy_spending.groupby("year")["energy_spending"] \
    .sum() \
    .to_frame() \
    .reset_index()
energy_by_year

    year  energy_spending
0   1997     1.262500e+10
1   1998     1.266250e+10
2   1999     1.365160e+10
3   2000     1.334970e+10
4   2001     1.451120e+10
5   2002     1.471790e+10
6   2003     1.504270e+10
7   2004     1.534310e+10
8   2005     1.471720e+10
9   2006     1.419410e+10
10  2007     1.465560e+10
11  2008     1.529820e+10
12  2009     1.649160e+10
13  2010     1.707130e+10
14  2011     1.639860e+10
15  2012     1.621490e+10
16  2013     1.561610e+10
17  2014     1.711270e+10
18  2015     1.937800e+10
19  2016     2.013410e+10
20  2017     1.959500e+10
21  2018     2.346840e+10

In [45]:
# aggregate the climate spending by year
climate_by_year = climate_spending.groupby("year")["gcc_spending"] \
    .sum() \
    .to_frame("climate_spending") \
    .reset_index()
climate_by_year

    year  climate_spending
0   2000      2.311730e+09
1   2001      2.312562e+09
2   2002      2.195398e+09
3   2003      2.689233e+09
4   2004      2.484252e+09
5   2005      2.283907e+09
6   2006      2.003552e+09
7   2007      2.043967e+09
8   2008      2.069039e+09
9   2009      2.345556e+09
10  2010      2.512121e+09
11  2011      2.736281e+09
12  2012      2.695295e+09
13  2013      2.500669e+09
14  2014      2.537975e+09
15  2015      2.524344e+09
16  2016      2.609000e+09
17  2017      2.800120e+09

In [66]:
# aggregate the climate spending by year
#fed_spending.groupby("year")["rd_budget"].agg("sum")
fed_spending_by_year = fed_spending[["year","total_outlays", "discretionary_outlays", "gdp"]] \
    .drop_duplicates() \
    .rename(columns = {"total_outlays": "total_spending",
                       "discretionary_outlays": "discretionary_spending"}) \
    .reset_index(drop=True)
fed_spending_by_year

    year  total_spending  discretionary_spending             gdp
0   1976    3.718000e+11            1.756000e+11   1790000000000
1   1977    4.092000e+11            1.971000e+11   2028000000000
2   1978    4.587000e+11            2.187000e+11   2278000000000
3   1979    5.040000e+11            2.400000e+11   2570000000000
4   1980    5.909000e+11            2.763000e+11   2797000000000
5   1981    6.782000e+11            3.079000e+11   3138000000000
6   1982    7.457000e+11            3.259000e+11   3314000000000
7   1983    8.084000e+11            3.533000e+11   3541000000000
8   1984    8.518000e+11            3.794000e+11   3953000000000
9   1985    9.463000e+11            4.158000e+11   4270000000000
10  1986    9.904000e+11            4.385000e+11   4536000000000
11  1987    1.004000e+12            4.441000e+11   4782000000000
12  1988    1.064400e+12            4.644000e+11   5155000000000
13  1989    1.143700e+12            4.888000e+11   5570000000000
14  1990    1.253000e+12            5.005000e+11   5915000000000
15  1991    1.324200e+12            5.333000e+11   6110000000000
16  1992    1.381500e+12            5.338000e+11   6435000000000
17  1993    1.409400e+12            5.397000e+11   6795000000000
18  1994    1.461800e+12            5.414000e+11   7198000000000
19  1995    1.515700e+12            5.448000e+11   7583000000000
20  1996    1.560500e+12            5.328000e+11   7978000000000
21  1997    1.601100e+12            5.471000e+11   8483000000000
22  1998    1.652500e+12            5.519000e+11   8955000000000
23  1999    1.701800e+12            5.721000e+11   9511000000000
24  2000    1.789000e+12            6.147000e+11  10148000000000
25  2001    1.862800e+12            6.491000e+11  10565000000000
26  2002    2.010900e+12            7.340000e+11  10877000000000
27  2003    2.159900e+12            8.243000e+11  11332000000000
28  2004    2.292800e+12            8.951000e+11  12089000000000
29  2005    2.472000e+12            9.685000e+11  12889000000000
30  2006    2.655000e+12            1.016700e+12  13685000000000
31  2007    2.728700e+12            1.041600e+12  14323000000000
32  2008    2.982500e+12            1.134800e+12  14752000000000
33  2009    3.517700e+12            1.237500e+12  14415000000000
34  2010    3.457100e+12            1.347200e+12  14799000000000
35  2011    3.603100e+12            1.347100e+12  15379000000000
36  2012    3.536900e+12            1.286100e+12  16027000000000
37  2013    3.454600e+12            1.202200e+12  16516000000000
38  2014    3.506100e+12            1.178600e+12  17244000000000
39  2015    3.688400e+12            1.168700e+12  17983000000000
40  2016    3.852600e+12            1.185200e+12  18470000000000
41  2017    3.981600e+12            1.200200e+12  19177000000000

In [58]:
rd_budget_by_year = fed_spending.groupby("year")["rd_budget"] \
    .sum() \
    .to_frame("total_rd_budget") \
    .reset_index()
rd_budget_by_year

    year  total_rd_budget
0   1976      86227000000
1   1977      91807000000
2   1978      94864000000
3   1979      96601000000
4   1980      96305000000
5   1981      98304000000
6   1982      95448000000
7   1983      95010000000
8   1984     105371000000
9   1985     114818000000
10  1986     118231000000
11  1987     125314000000
12  1988     126800000000
13  1989     128912000000
14  1990     129126000000
15  1991     130008000000
16  1992     133172000000
17  1993     132080000000
18  1994     127278000000
19  1995     124883000000
20  1996     123978000000
21  1997     127018000000
22  1998     129698000000
23  1999     136867000000
24  2000     142299000000
25  2001     153197000000
26  2002     170354000000
27  2003     192010000000
28  2004     199104000000
29  2005     200099000000
30  2006     199429000000
31  2007     201827000000
32  2008     200857000000
33  2009     201275000000
34  2010     204556000000
35  2011     194256000000
36  2012     188944000000
37  2013     172121000000
38  2014     175383000000
39  2015     174608000000
40  2016     185885000000
41  2017     163606000000

And then we can combine all three datasets together using `left_join()`, filter to the year 2000 onwards, and scale each of the relevant variables by one million.

In [67]:
govt_spending = fed_spending_by_year.merge(rd_budget_by_year, on="year", how="left") \
    .merge(energy_by_year, on="year", how="left") \
    .merge(climate_by_year, on="year", how="left") \
    .query("year >= 2000") \
    .reset_index(drop=True)
# divide relevant variables by 1_000_000    
spending_var_names = ["gdp", "total_rd_budget", "total_spending", "discretionary_spending", "energy_spending", "climate_spending"]
govt_spending[spending_var_names] = govt_spending[spending_var_names] / 1_000_000
# look at the data
govt_spending

,year,total_spending,discretionary_spending,gdp,total_rd_budget,energy_spending,climate_spending
0,2000,1789000.0,614700.0,10148000.0,142299.0,13349.7,2311.730453
1,2001,1862800.0,649100.0,10565000.0,153197.0,14511.2,2312.561976
2,2002,2010900.0,734000.0,10877000.0,170354.0,14717.9,2195.397900
3,2003,2159900.0,824300.0,11332000.0,192010.0,15042.7,2689.233013
4,2004,2292800.0,895100.0,12089000.0,199104.0,15343.1,2484.251666
5,2005,2472000.0,968500.0,12889000.0,200099.0,14717.2,2283.906691
6,2006,2655000.0,1016700.0,13685000.0,199429.0,14194.1,2003.551973
7,2007,2728700.0,1041600.0,14323000.0,201827.0,14655.6,2043.966543
8,2008,2982500.0,1134800.0,14752000.0,200857.0,15298.2,2069.038746
9,2009,3517700.0,1237500.0,14415000.0,201275.0,16491.6,2345.556400
10,2010,3457100.0,1347200.0,14799000.0,204556.0,17071.3,2512.121332
11,2011,3603100.0,1347100.0,15379000.0,194256.0,16398.6,2736.280890
12,2012,3536900.0,1286100.0,16027000.0,188944.0,16214.9,2695.294876
13,2013,3454600.0,1202200.0,16516000.0,172121.0,15616.1,2500.668980
14,2014,3506100.0,1178600.0,17244000.0,175383.0,17112.7,2537.974730
15,2015,3688400.0,1168700.0,17983000.0,174608.0,19378.0,2524.343949
16,2016,3852600.0,1185200.0,18470000.0,185885.0,20134.1,2609.000000
17,2017,3981600.0,1200200.0,19177000.0,163606.0,19595.0,2800.120028


## Exercise:

Now it's your turn to re-create the figures specified in the exercise.